<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Wall</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
    integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
    integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div class="row bg-dark text-light">
        <div class="col-5 ms-5 mt-3 mb-1 text-start">Hi {{request.session.user.name}}</div>
        <div class="col-5 me-3 mt-3 mb-1 text-end"><a href="/logout">Log out</a></div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col">
            <form action="/new_message" method="POST">
                {% csrf_token %}
                <div class="mb-3 me-3 text-center">
                    <label for="message" class="form-label"></label>
                    <textarea type="text" class="form-control" name="message" id="message" rows="3"></textarea>
                </div>
                <div class="text-end">
                    <button type="submit" class="shadow btn btn-primary">Post message</button>
                </div>
            </form>
        </div>
    </div>
        {% for post in posts %}
            <div class="row">
                <p>{{post.user.first_name}} {{post.user.last_name}} - {{post.created_at}}</p>
                <p>{{post.post}}</p>
            </div>
        {% endfor %}
    </div>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-left",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1500",
            "timeOut": "5500",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        {% for message in messages %}
            toastr.{{ message.tags }} ('{{ message }}');
        {% endfor %}
    </script>
</body>
</html>
